<section
  class="app-chat {{ position }}"
  [ngStyle]="{ width: width, height: height }"
>
  <div>
    <p>Você está no chat como {{ userName }}</p>
    <p>
      Existem <strong>{{ users }}</strong> usuários online.
    </p>

    <div class="messages">
      <div
        *ngFor="let msg of messages"
        class="messages-item {{
          msg.user === userName ? 'my' : 'other'
        }}-message"
      >
        <div>
          {{ msg.message }}
        </div>
      </div>
    </div>

    <p class="is-writting-message" [ngClass]="{ 'is-visible': userWriting }">
      {{ userWriting }} está digitando...
    </p>
  </div>

  <div class="wrapper-textarea">
    <textarea
      spellcheck="true"
      autoComplete="true"
      autocorrect="true"
      rows="1"
      class="chat-input"
      [(ngModel)]="message"
      placeholder="type message..."
      (keyup)="showIsWriting()"
      (keyup.enter)="addChat()"
    >
    </textarea>

    <button (click)="addChat()" class="chat-button">
      Enviar
    </button>

    <button (click)="attachFile()" class="chat-button">
      Anexar arquivo
    </button>
  </div>
</section>
